<div class="wrapper ">
    <div class="pre-title animate__animated animate__fadeInUp">Hola mí nombre es</div>
    <h1 class="title animate__animated animate__fadeInUp">Jaime Sazo</h1>
    <h2 class="sub-title animate__animated animate__fadeInUp">Soy desarrollador web</h2>
    <p class="description animate__animated animate__fadeInUp">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis dolore et explicabo aliquid possimus ducimus odio delectus. Recusandae adipisci mollitia voluptatem saepe ullam dolor, eius temporibus corrupti necessitatibus, perferendis ipsam.</p>
</div>
